<mat-card class="columns-card">
    <mat-card-title>Available tests</mat-card-title>
    <app-tests-list (onTestStart)="startTest($event)"></app-tests-list>
</mat-card>
<mat-card class="columns-card">
    <mat-card-title>Taken tests</mat-card-title>
    <app-taken-test-list></app-taken-test-list>
</mat-card>
<div class="loading" *ngIf="loading">
    <mat-card>
        <p style="text-align: center;">Loading</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
</div>