<div class="bg-image-right">
    <mat-card>
        <mat-card-title>Knowledge testing</mat-card-title>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="student@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{ getEmailsErrorMessage() }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
                </mat-form-field>
                <button type="submit" [disabled]="!isFormValid()" id="loginBtn" mat-raised-button color="primary">Log
                    in</button>
            </form>
            <hr />
            <button id="registerBtn" mat-raised-button (click)="sendToRegistration()">Create new account</button>
        </mat-card-content>
    </mat-card>
</div>