<div class="bg-image">
    <app-main-bar>
        <div class="item">
            <button mat-button mat-fab color="primary" (click)="redirectTo('')">
                <img class="test" src="assets/exam-test.png"/>
            </button>
        </div>
        <div class="item">
            <button mat-button mat-fab color="primary" (click)="redirectTo('domain')">
                <img class="domain" src="assets/domain.png"/>
            </button>
        </div>
        <div class="item">
            <button mat-button mat-fab color="primary" (click)="redirectTo('knowledge-space')">
                <img class="bulb" src="assets/bulb.png"/>
            </button>
        </div>
        <div class="item">
            <button mat-button mat-fab color="primary" (click)="redirectTo('queries')">
                <img class="bulb" src="assets/query.png"/>
            </button>
        </div>
    </app-main-bar>
    <router-outlet></router-outlet>
</div>