.item {
    float: right;
    margin-right: 5px;
}

mat-icon {
    padding-top: 5px;
    font-size: 17px;
}

.bulb {
    width: 45%;
    margin-top: -5px;
}

.domain {
    width: 60%;
    margin-top: -5px;
}

.test {
    width: 40%;
    margin-top: -5px;
}