#searchField {
    width: 100%;
    input, mat-label {
        font-size: 17px;
    }
    mat-icon {
        font-size: 25px;
    }
}

#test-container {
    overflow-y: scroll;
    max-height: 400px;
    min-height: 400px;
}

.test-cell {
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    vertical-align: middle;
    .mat-icon {
        font-size: 30px;
    }
}

.cell-text {
    max-width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.test-cell {
    cursor: text !important;
}

.test-row {
    display: block;
    margin-bottom: 8px;
}

.classHolder {
    margin-bottom: 10px;
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    :last-child {
        margin-bottom: 0;
    }
}
.classHolder:hover {
    background-color: rgb(189, 189, 189);
}

.info-tool-tip {
    font-size: 15px;
}