.answer-chkbox {
    margin-top: 15px;
}

#card-question {
    width: 70%;
    margin-left: 15%;
    top: 25%;
    -ms-transform: translateY(250%);
    transform: translateY(25%);
}

mat-checkbox ::ng-deep .mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
}

mat-card-header {
    display: flex;
}

.close-action {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

}

.example-header-image {
    background-image: url('https://www.vhv.rs/dpng/d/294-2943438_doubt-icon-png-png-download-question-mark-png.png');
    background-size: cover;
}