<div class="bg-image">
    <mat-card id="card-question" *ngIf="currentItem">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
                {{ currentItem.text }}
            </mat-card-title>
            <mat-card-subtitle>There may be more than one correct answer.</mat-card-subtitle>
            <span flex></span>
            <div class="close-action">
                <button class="pull-right" mat-icon-button (click)="return()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <img *ngIf="currentItem.picture !== null"
                mat-card-image
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Quadratic_formula.svg/1200px-Quadratic_formula.svg.png"
            />
            <div class="">
                <div *ngFor="let answer of currentItem.answers; index as i">
                    <mat-checkbox class="answer-chkbox" [(ngModel)]="answer.selected" color="primary">
                        {{answer.text}}
                    </mat-checkbox>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" (click)="nextQuestion()">Next</button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="loading" *ngIf="loading">
    <mat-card>
        <p style="text-align: center;">Loading</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
</div>