<mat-card>
  <mat-card-title>
    {{ test.name }}
  </mat-card-title>
  <mat-card-subtitle> ID: {{ test.id }} </mat-card-subtitle>
  <mat-card-content>
    <p>Length: {{ test.timer }} minutes</p>
    <p>Valid from: {{ test.validFrom | date: "fullDate" }}</p>
    <p>Valid until: {{ test.validUntil | date: "fullDate" }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="primary"
      (click)="editTest()"
      [disabled]="checkDatePassed(test.validFrom)"
    >
      Edit Test
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="removeTest()"
      [disabled]="checkDatePassed(test.validFrom)"
    >
      Remove Test
    </button>
  </mat-card-actions>
</mat-card>

<mat-accordion>
  <mat-expansion-panel *ngFor="let s of sections">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ s.name }}
      </mat-panel-title>
      <mat-panel-description>
        <!-- This is a summary of the content -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card *ngFor="let i of s.items" class="item-card">
      <mat-card-title>{{ i.text }}</mat-card-title>
      <img *ngIf="i.imgName !== null"
        mat-card-image
        src="{{IMG_BASE+i.imgName}}"
      />
      <mat-card-content>
        <p *ngFor="let a of i.answers">{{ a.text }} ({{ a.points }} points)</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-raised-button
          color="primary"
          (click)="updateItem(i)"
          [disabled]="checkDatePassed(test.validFrom)"
        >
          Edit
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="removeItem(i)"
          [disabled]="checkDatePassed(test.validFrom)"
        >
          Remove
        </button>
      </mat-card-actions>
    </mat-card>
    <!-- <app-item *ngFor="let i of s.items"></app-item> -->
    <!-- <p *ngFor="let i of s.items">{{i.text}}</p> -->
    <mat-action-row>
      <button
        mat-raised-button
        color="primary"
        (click)="addItem(s)"
        [disabled]="checkDatePassed(test.validFrom)"
      >
        Add Item
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="updateSection(s)"
        [disabled]="checkDatePassed(test.validFrom)"
      >
        Edit Section
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="removeSection(s)"
        [disabled]="checkDatePassed(test.validFrom)"
      >
        Remove Section
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<button
  mat-raised-button
  color="primary"
  (click)="addSection()"
  [disabled]="checkDatePassed(test.validFrom)"
>
  Add section
</button>
