table {
    width: 100%;
  }
  mat-header-cell, mat-cell {
    justify-content: left;
  }
  .left-text {
    text-align: left;
  }

mat-card {
  margin: 10px;
}

.item-card {
  float: left;
  min-width: 200px;
  width: 28%;
}

button {
  margin-left: 10px;
}

mat-expansion-panel {
  margin: 10px;
}

#leftSide {
  display: inline-block;
  width: 19%;
  margin-right: 1%;
  mat-form-field {
    width: 100%;
  }
}

#rightSide {
  display: inline-block;
  width: 79%;
  vertical-align: top;
}

.space-wrapper {
  overflow-y: auto;
  height: 400px;
  border: 2px solid lightgray;
  border-radius: 10px
}

#kspace {
  height: 100%;
}