table {
    width: 100%;
  }
  mat-header-cell, mat-cell {
    justify-content: left;
  }
  .left-text {
    text-align: left;
  }

mat-card {
  margin: 10px;
}

.item-card {
  float: left;
  min-width: 200px;
  width: 28%;
}

button {
  margin-left: 10px;
}

mat-expansion-panel {
  margin: 10px;
}
